<header>
  <h1>Aaron M. Smith</h1>
  <nav>
    <ul>
      <li><%= link_to "HOME", root_path %></li>
      <li>
        <%= link_to "RESEARCH", research_path %>
        <ul class="subnav"> 
          <li><%= link_to "AVE MIGRATION", ave_migration_path %></li>
          <li><%= link_to "MORPHOGEN GRADIENTS", morphogen_gradients_path %></li>
          <li><%= link_to "MOVIES", movies_path %></li>
        </ul>
      </li>
      <li><%= link_to "PERSONAL", personal_path %>
        <ul class="subnav">
          <li><%= link_to "CV", cv_path %></li>
          <li><a href="http://effective-personal-growth-for-men.blogspot.com/">BLOG (external)</a></li>
        </ul>     
      </li>
      <li><a href="mailto:aaron@aaronmsmith.co.uk">CONTACT</a></li>
    </ul>
  </nav>
</header>
