<header>
  <nav>
    <ul>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "RESEARCH", research_path %></li>
      <li><%= link_to "PERSONAL", personal_path %></li>
      <li><%= link_to "LINKS", links_path %></li>
      <li><%= link_to "CONTACT", contact_path %></li>
    </ul>
  </nav>
</header>
