<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->   
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>
  <nav>
    <ul>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "RESEARCH", research_path %></li>
      <li><%= link_to "PERSONAL", personal_path %></li>
      <li><%= link_to "LINKS", links_path %></li>
      <li><%= link_to "CONTACT", contact_path %></li>
   </ul>
  </nav>
    <%= yield %>
  </body>
</html>
